@charset "UTF-8";
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

/*header-1-entete*/
.entete {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  font-weight: bold;
  color: #54D0ED;
}
.entete img {
  max-width: 160px;
  height: auto;
}

#logo {
  border: 2px solid;
  border-radius: 10px;
  padding: 5px;
}

/*header-2-nav-bar*/
header {
  margin-bottom: 50px;
}

img {
  max-width: 160px;
  height: auto;
}

/*nav-bar recherche*/
#recherche {
  background-image: url("../images/banniere.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.recherche {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section #form-recherche {
  display: flex;
  justify-content: center;
  padding: 50px;
}

/*Page principale / Accueil*/
main .content {
  display: flex;
  margin-top: 15px;
  padding: 10px;
  justify-content: center;
  border: 2px solide black;
}
main article {
  justify-content: center;
  padding: 10px;
}

/*formulaire recherche accueil*/
.box {
  top: 5px;
  background: #0C273D;
  border: 2px solid #0C273D;
  border-radius: 3px;
  padding: 5px;
}

.btn-reservation {
  display: flex;
  justify-content: center;
}

/*pages séjours et destinations*/
#nos-destinations {
  margin-bottom: 50px;
}

/*pages galérie*/
/*articles*/
#info {
  padding: 10px;
  background-color: #2C5E2E;
  color: #FFFEF1;
  border: 5px solid;
  border-radius: 5px;
}

/*carouselle*/
#caroussel {
  padding: 0px;
  overflow: hidden;
  border: 2px solid;
  border-radius: 5px;
}

.images {
  display: flex;
  height: auto;
  animation-duration: 30s;
  animation-direction: alternate-reverse;
  animation-name: imagesAnimee;
  animation-iteration-count: infinite;
}

@keyframes imagesAnimee {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translatex(-240px);
  }
  40% {
    transform: translateX(-590px);
  }
  60% {
    transform: translateX(-940px);
  }
  80% {
    transform: translate(-1240px);
  }
  100% {
    transform: translateX(0);
  }
}
section .section {
  display: flex;
  margin-top: 20px;
  background-color: #0C273D;
  color: #FFFEF1;
}

/*footer*/
.footer {
  margin-top: 10px;
  padding: 50px;
  background-color: #0C273D;
}

footer a {
  text-decoration: none;
  color: #FFFEF1;
  font-size: larger;
  font-weight: bolder;
}

/*footer 2*/
.footer2 {
  margin-top: 20px;
  padding: 20px;
  background-color: #0C273D;
}

.footer2 a {
  text-decoration: none;
  color: #FFFEF1;
  border: 2px solid;
  border-radius: 5px;
}

.element {
  color: #54D0ED;
  margin-bottom: 10px;
}

/* autres class*/
.btn-primary {
  background-color: #0C273D;
}

.btn-secondary {
  background-color: #2C5E2E;
  color: #FFFEF1;
}

.text-centre {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.titre {
  text-align: center;
  color: #0C273D;
}

.ancre {
  color: #FFFEF1;
}

em {
  font-size: larger;
  font-weight: bold;
  color: #2C5E2E;
}

b {
  color: #0C273D;
}

.span {
  color: #54D0ED;
  font-weight: bolder;
  font-size: larger;
  font-style: italic;
}

div > button, .lien {
  text-decoration: none;
  color: #0C273D;
  border: 1px solid;
  padding: 2px;
  border-radius: 5px;
}

.red {
  color: red;
}

.succes {
  color: #54D0ED;
}

/*page circuits*/
.circuit {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.text-primary2 {
  color: #0C273D;
  font-weight: bolder;
}

.infos-circuit {
  display: flex;
  margin: 5px;
  padding: 5px;
}

.sous-titre {
  font-weight: bolder;
}

div .carousel-item, h5 {
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  color: #54D0ED;
}

div .carousel-item img {
  filter: brightness(0.2);
}

div .carousel-item img:hover {
  filter: brightness(0.9);
}

#carouselExampleCaptions, #carousel2, #carousel3, #carousel4 {
  width: 50%;
  margin: auto;
}

.carousel-item img {
  max-width: 700px;
  height: auto;
}

#cgv {
  padding: 50px;
}

/*pages destination*/
.aside {
  display: flex;
  justify-content: center;
}

/*pages formulaire inscription-espace-client-contact-avis*/
.connexion .inscription .contact .reservation {
  margin-top: 20px;
  padding: 10px;
}

/*boutton reservation*/
#boutton-reservation {
  text-decoration: none;
}

#reservation {
  padding: 20px;
  border: 5px solid #0C273D;
  border-radius: 20px;
}

/*pages avis*/
section, .avis {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*confimation validation formulaire*/
.validation, h1 p {
  color: #2C5E2E;
}

/*
:first-child::before {
  content: "\0020 \2302";
}
*/
/*espace admin utilisateur*/
.compteclient {
  display: flex;
}

.compteclient a {
  text-decoration: none;
  padding: 5px;
}

.lien {
  text-decoration: none;
}

.btn-deconnexion {
  display: inline;
  vertical-align: middle;
  margin-left: 20px;
}

/* Tableau de bord client */
#nav-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  gap: 15px;
}

.menu {
  padding: 5px;
  border: 3px solid #0C273D;
  background-color: #FFFEF1;
  font-weight: bolder;
}

section {
  display: flex;
  justify-content: center;
}

form {
  margin: 10px;
  padding: 10px;
}
form legend {
  color: #0b2020;
  font-weight: bolder;
}

/* Média queries*/
@media screen and (max-width: 992px) {
  .apropos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  #caroussel {
    width: 375px;
    height: 230px;
  }
  #info {
    width: 375px;
    height: 230px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 430px) {
  .box {
    overflow: hidden;
  }
}/*# sourceMappingURL=style.css.map */