
$primary: #0C273D;
$secondary:#FFFEF1;
$tertio: #0b2020;
$nature: #2C5E2E;
$autre2: #54D0ED;

@mixin page-formulaire{
        display: flex;
        justify-content: center;    
}
@mixin formulaire {
    margin:10px;
    padding:10px;
    legend{
        color:#0b2020;
        font-weight: bolder
    }
 }
html,
body {
    margin: 0px;
    padding:0px;
    font-family: 'Lato', sans-serif;
}
 /*header-1-entete*/
.entete {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    color: $autre2;
        img{
            max-width: 160px;
            height: auto;
           }
  }
#logo{

    border:2px solid;
    border-radius: 10px;
    padding: 5px;
  }
  /*header-2-nav-bar*/
header{
    margin-bottom: 100px;
  }
#menu{
  font-weight: bold;
}

img{
    max-width: 160px;
    height: auto;
    }
  /*nav-bar recherche*/
#recherche {
    background-image: url("../images/banniere.png");
    background-size: cover;  
    background-repeat:no-repeat;
    margin-bottom: 10px;
}    

section  #form-recherche{
        display: flex;
        justify-content: center;
        padding: 50px;
      }

  /*Page principale / Accueil*/
main{
    .content{
        margin-top: 20px;
        padding:10px;
    }
    article{
        justify-content: center;
        padding:10px;
    
      }
}
  /*articles*/
  #info{

    padding: 10px;
    background-color:$nature;
    color:$secondary;
    border:5px solid;
    border-radius:15px;
  }
  /*carouselle*/
  #caroussel{
    width: 375px;
    height: 230px;
    padding:0px;
    overflow: hidden;
    border: 1px solid;
    border-radius: 5px;
  }
  .images{
    display: flex;  
    animation-duration:30s;
    animation-direction: alternate;
    animation-name: imagesAnimee;
    animation-iteration-count: infinite;
  }
  @keyframes imagesAnimee{
        0%{
          transform: translateX(0);
         }
        20%{
          transform:translatex(-350px);
         }
        40%{
          transform:translateX(-700px);
         }
        60%{
          transform:translateX(-1050px);
         }
        80%{
          transform: translate(-1350px);
         }
         100%{
          transform: translateX(0);
         }
  }

  section{
         .section{
            display: flex;
            margin-top: 20px;
            background-color:$primary;
            color:$secondary;
     }
  }
  /*footer*/
.footer{
    margin-top: 10px;
    padding:50px;
    background-color:$primary;
}
footer a{
  text-decoration: none;
  color:$secondary;
  font-size:larger;
  font-weight: bolder;
}
/*footer 2*/
.footer2{
  margin-top: 20px;
  padding:20px;
  background-color:$primary;

}
.footer2 a{
 text-decoration: none;
 color:$secondary;
 border: 2px solid;
 border-radius: 5px;

}

/*    */
.element
  {
    color:$autre2;
}
/* autres class*/

.btn-primary {
    background-color:$primary;
        }
.btn-secondary
        {
          background-color:$nature;
          color:$secondary;
}        
.text-centre {       
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
        }
.titre{
    text-align: center;
    color: $primary;
 }
.ancre{
    color:$secondary;
    }
em{
    font-size:larger;
    font-weight: bold;
    color:$nature;
}
 b{
    color: $primary;

   }
div > button, .lien{
  text-decoration: none;
  color:$primary;
  border: 1px solid;
  padding:2px;
  border-radius: 5px;

}
.red{
  color:red;
}
/*pages galérie*/
/*
.galerie{
  background-image: url("../images/img.png");
  background-size: cover;  
  background-repeat:no-repeat;
  margin-bottom: 20px;
}
*/
div .carousel-item, h5{
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  color:$autre2;
}

div .carousel-item{
  img{
     filter: brightness(0.2);
  }
}
div .carousel-item{
      img:hover{
         filter: brightness(0.9);
      }
}                       
#carouselExampleCaptions, #carousel2, #carousel3, #carousel4{
  width: 50%;
  margin: auto;
}
.carousel-item img{
   max-width: 800px;
   height:auto;

}
/*pages destination*/
.aside{
  display: flex;
  justify-content: center;
  
}
/*pages formulaire inscription-espace-client-contact-*/
.connexion .inscription .contact{
      margin-top: 30px;
      padding:10px;
}
/*pages avis*/
section, .avis{
  display: flex;
  justify-content: center;
  margin-top:5px;
  margin-bottom: 5px;
}
/*confimation validation formulaire*/
.validation, h1 p{
   color:$nature;
}
/*
:first-child::before {
  content: "\0020 \2302";
}
*/
section{
  @include page-formulaire;
}
form{
  @include formulaire;
  
}
/* Média queries*/ 
@media screen and (max-width:400px) {
   #form-recherche{
    flex-direction: column;
  }
  
  }